@font-face {
  font-family: "Helvetica Neue LTStd Bold";
  src: url("../fonts/HelveticaNeueLTStd-Bd.otf");
}
@font-face {
  font-family: "Helvetica Neue LTStd Light";
  src: url("../fonts/HelveticaNeueLTStd-Lt.otf");
}
@font-face {
  font-family: "Helvetica Neue LTStd Roman";
  src: url("../fonts/HelveticaNeueLTStd-Roman.otf");
}

/* ---------------- BASIC ------------------- */

html {
	box-sizing: border-box;
	font-size: 13px;
}
*, *:before, *:after {
box-sizing: inherit; 
}

img {
max-width: 100%;
}

main {
	background-color: black;
}

h1,h2,h3, p {
	margin: 0;
	color: white;
}

h1 {
	font-family: "Helvetica Neue LTStd Bold";
	line-height: 0.8;
}

h2 {
	font-family: "Helvetica Neue LTStd Roman";
	font-size: 23px;
	letter-spacing: 1px;
	margin-bottom: 25px;
}
h3 {
	font-size: 17px;
}
.background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.5;
	z-index: 3;
}

.container {
	position: relative;
	z-index: 10;
	margin-left: 10%;
}
.intro-movie {
	padding-top: 80px;
	margin-right: 40px;
}
.list-episodes {
	display: flex;
	flex-direction: column;	
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:white;
}


.info-details-episode p {
	color: black;
}
.shadow {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%; 
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 100%);
  	z-index: 5;
}

/* ---------------- Episode Item in the list ------------------- */

.episode {
	font-family: "Helvetica Neue LTStd Bold";
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	position: relative;
    outline: none;
	border: none;
	margin-bottom: 20px;
}
.episode:active {
	    outline: none;
    border: none;
}

.thumbnail {
	transition: all 0.3s ease-in;
}

.episodes-plot {
	opacity: 0.8;
	margin: 5px 0 30px;
	font-family: Helvetica Neue LTStd Light;
	font-size: 13px;
	line-height: 1.15;
}

.episodeNumberSquare {
	display: flex;
	justify-content: center;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: white;
	color: black;
	position: absolute;
	top: 0;
}

.episodeNumberSquare p {
	line-height: 0;
	color: black;
	margin: auto;
	}

.plot {
	margin: 5px 0 50px;
	font-family: Helvetica Neue LTStd Light;
	font-size: 12px;
	line-height: 1.2;
}

.smallInfosRight {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px;
	height: 20px;
}
.smallInfosRight svg {
	width: 15px;
	margin-right: 10px;
}

.info-details-episode {
	font-family: Helvetica Neue LTStd Light;
}

.info-details-episode h3 {
	font-family: HelveticaNeue-Bold;
	font-size: 1.875vw;
	color: #000000;
	margin-bottom: 1.2vh;
}

.arrows, .hidden {
	display: none;
}


/* ---------------- MEDIA QUERIES 768PX ------------------- */
@media (min-width: 768px) {
	h1 {
		font-size: 74px;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 7vw 1fr 1fr 12vw;
		grid-template-rows: 15vh 20vh 15vh auto 5vh;
		height: 100vh;
	}
	
	.intro-movie {
		padding-top: 0;
		grid-row: 2/3;
		grid-column: 1/5;
	}

	.plot {
		font-size: 23px;
	}

	.list-episodes {
		opacity: 0;
		width: auto;
		grid-column: 1/12;
		grid-row: 4/5;
		cursor: crosshair;
		transition: 0.9s;
	}

	.list-episodes.active {
		opacity: 1;
	}

	/* ---------------- Episode Item in the list ------------------- */
	.episode {
	margin-right: 30px;
	margin-bottom: 0;
	}

	.episodes-plot {
		margin-bottom: 0;
	}
	.thumb-active{
		opacity: 1;
	}
	.thumb-disabled{
		opacity: 0.4;
	}
	.thumb-div {
		background-color: #000000;
		margin-bottom: 25px;
	}
	.arrow {
		width: 25px;
		margin-right: 20px;
	}
	.arrows {
		display: flex;
		flex-direction: row;
		grid-row: 5/6;
		grid-column: 7/8;
		height: 3vh;
	}

	/* ---------------- Episode Modular Display Sidebar ------------------- */
	.overlay {
		grid-column: 4/8;
	}
	.smallInfosEpisode {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-bottom: 0.12vh solid rgba(151,151,151,0.2);
	}
	.smallInfosLeft, .smallInfosRight {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 2.46rem 0 1.96rem;
	}

	.smallInfosLeft {
		margin-left: 2.64vw;
	}
	
	.smallInfosRight {
		margin-right: 40px;
	}
	
	.smallInfosRight svg {
		width: 1.94vw;
		position: relative;
		bottom: 3px;
		margin-right: 16px;
	}
	
	.smallInfosEpisodeSecondLine {
		margin: 30px 20px 0 2.64vw;
	}
	.smallInfosEpisodeSecondLine p {
		margin: 0;
		font-size: 1.32vw;
	}

}
/* ---------------- MEDIA QUERIES 1024PX ------------------- */
@media (min-width: 1024px) {
	p {
		font-size: 1.14vw;
	}
	h1 {
		font-size: 5.3vw;
	}
	h2, .plot{
		font-size: 1.6vw;
	}
	h3 {
		font-size: 1.06vw;
		margin-bottom: 10px;
	}

	.episodes-plot {
		font-size: 0.92vw;
	}
	
	.container {
	margin-left: 100px;
	grid-template-columns: 1fr 1fr 1fr 7vw 1fr 1fr 7vw;
	grid-template-rows: 27vh 20vh 10vh auto 5vh;
	}

	.background {
		display: none;
	}

	.slick-slide {
		height:200px;
		margin-right:1.9vw;
	  }
	
	main:after {
	  content: "";
	  background-image: url(../img/madmen_bg4.jpg);
	  background-size: cover;
	  opacity: 0.5;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: 5;  
	}

	.list-episodes {
		grid-column: 1/8;
		grid-row: 4/5;
		height: auto;
		/* margin-top: 5vh; */
	}
	.episodeNumberSquare {
		width: 2.13vw;
		height: 2.13vw;
	}


.thumb-div img {
	width: 100%; 
	height: auto;
	object-fit: cover;
}

	.intro-movie {
		padding-top: 0;
	}
	
	.shadow {
		height: 367px; 
		width: 100%;
		background: linear-gradient(to bottom, rgba(151, 60, 60, 0),rgba(0,0,0,0.5)); 
		position: absolute;
		bottom: 0; 
		z-index: 6;
	}
	

	.overlay {
		grid-column: 5/8;
		grid-row: 1/7;
		z-index: 10;
		transition: all 0.3s ease-in;
	}

	.content-item-modal {
		display: grid;
		grid-template-rows: 27vh 20vh 10vh auto 5vh;
		height: 100vh;
	}
	.smallInfosEpisode p {
		font-size: 1.25vw;
	}
	.smallInfosEpisodeSecondLine p {
		line-height: 2.64vh;
	}
	.big-picture {
		grid-row: 1/4;
	}
	.big-picture img {
		height: 100%; 
		width: auto;
		object-fit: cover
	}
	.arrow {
		margin-right: 1vw;
	}
	.arrows svg {
		width: 2vw;
	}
}